@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&family=Teko:wght@300..700&family=WDXL+Lubrifont+TC&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

body{
    font-family: "Poppins",sans-serif;
}